.hero{
    color: white;
    height: 40rem;
    display: flex;
width: 100vw;
}
.left{
    height: 40rem;
    width: 50vw;
    padding-top: 15rem;
    padding-left: 6.2rem;
}
.herosectionh1{ 
    font-size: 1.8rem;
}
.herosectionh1 span{
    color: aqua;

}
.img1{
height: 30rem;
padding-top: 9rem;
padding-left: 10rem;

}
.stack{
    font-size: 1.8rem;

}
